* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-image: url("./img/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* HOME */

.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeDate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.homeImg {
  width: 400px;
  height: 400px;
}

.googleBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.logoutBtn {
  margin-left: 1%;
  color: blue;
}


/* NOTE COMPONENT STYLING */

/* BUTTON TOP RIGHT */
.addNewNote {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  font-size: 1em;
  margin: 2%;
  text-align: center;
}

#noteBtn {
  display: block;
  margin-bottom: 3%;
}

.react-add-to-calendar a {
  color: white;
  margin-top: 2%;
}

a.yahoo-link, a.outlook-link, a.outlookcom-link, a.apple-link {
  display: none;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
}


/*  */
.postedNote {
  position: fixed;
  top: 20;
  right: 20;
}

.ReactModalPortal {
  width: 200px;
  height: 200px;
}




/* EACH NOTE YOU ADD ON SUBMIT */
.note {
  background-color: #F6F7EB;
  width: 30vw;
  margin-left: 50%;
  margin-bottom: 1%;
  border: 1px solid black;
  box-shadow: 10px 5px 5px #A4A5AE;
  padding: 20px;
  font-size: 2em;
}

ul li {
  display: inline-block;
  margin: 2%;
}


.displayNotes {
  display: inline;
}


/* SIDEBAR ITSELF */

.sidebar {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #151719;
  text-align: center;
  font-size: 1.5em;
  z-index: 2;
}


.sidebar ul li {
  color: white;
  list-style-type: none;
  padding: 50px 0px;
  border: 1px solid rgba(100,100,100, 0.3);
  width: 100%;
  text-decoration: none;
  z-index: 2;
}


.sidebar a, a:visited {
    color: white;
    text-decoration: none;
    display: block;
}

/* NAVBAR CLOSED  */
.closed {
  position: relative;
  left: 30px;
  top: 20px;
  display: block;
  z-index: 0;
}

.open ~ ul li:hover {
  background-color: white;
}

.open ~ ul li:hover a {
  color: black;
}

/* HAMBURGER */
.open {
  position: relative;
  display: block;
  float: left;
  left: 230px;
  top: 20px;
  color: black;
  z-index: 2;
}


/* SPAN conflicted with the calendar's preset CSS. Changed to h6. */

h6 {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #151719;
  margin: 3px 0px;
  margin-right: 200px;
}


.hiddenText ul li a {
  display: none;
}



/* NOTEPAD PAGE */

.notepadContainer {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* z-index: -2; */
}

.notepad {
  width: 50vw;
  margin-left: 25%;
  background-color: #fffff4 !important;
  color: black !important;
  font-size: 2em;
  box-shadow: 10px 5px 5px #A4A5AE;
  word-wrap: break-word;
}


.logs {
  padding: 15px;
  background-color: red;
  color: white;
  font-size: 2em;
}



.rbc-day-bg {
  background-color: white;
  color: black;
  align-items: center;
  border: 2px solid black;
  margin-bottom: 5px;
  /* margin-right: 5px; */
}

.rbc-row {
  /* background-color: black; */
  color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.rbc-row-bg {
  text-align: left;
  align-items: left;
}

.rbc-events-container{
  background-color: transparent;
}


/* CALCULATOR  */

.calculatorWrapper {
  margin-left: 33.3%;
  border: 3px solid black;
  border-radius: 0% 0% 7% 7%;
  width: 500px;
  height: 650px;
  text-align: center;
  background-color: white;
}

.cal-key {
  background-color: #D3D3D3;
  color: black;
  /* padding: 7%; */
  width: 90px;
  height: 90px;
  margin: 1%;
  /* height: 15%; */
  border-radius: 50%;
  border: 1px solid black;
  margin: 1.5%;
  font-size: 2.5em;
}

.cal-display {
  background-color: #D3D3D3;
  color: white;
  overflow: auto;
  padding: 3%;
  margin-bottom: 2%;
  font-size: 3.0em;
  text-align: right;
  border-bottom: 2px solid black;
}

.key-operations {
  background-color: pink;
}

.key-equals {
  width: 200px;
}
