* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-image: url("./img/backgroundImage.jpg");
  background-size: cover;
  /* opacity: .2; */
  /* background-size: no repeat; */

}

.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeDate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.homeImg {
  width: 50%;
  height: 50%;
}

.googleBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.logoutBtn {
  margin-left: 1%;
  color: blue;
}


/* NOTE COMPONENT STYLING */

/* BUTTON TOP RIGHT */
.addNewNote {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1em;
  margin: 2%;
}

/*  */
.postedNote {
  position: fixed;
  top: 20;
  right: 20;
}

/* EACH NOTE YOU ADD ON SUBMIT */
.note {
  background-color: #F6F7EB;
  /* background-color: #7fb597; */
  width: 30vw;
  margin-left: 35%;
  margin-bottom: 1%;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 10px 5px 5px #A4A5AE;
  padding: 20px;
  font-size: 2em;
}

.notesContainer {
  /* background-color: red; */
  /* position: absolute; */
}

.notesIcons {
    display: flex;
    justify-content: flex-end;
}

.displayNotes {
  display: inline;
}





/* SIDEBAR ITSELF */

.sidebarContainer {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #151719;
  text-align: center;
  font-size: 1.5em;
  z-index: 2;
}


.sidebarContainer ul li {
  color: white;
  list-style-type: none;
  padding: 50px 0px;
  border: 1px solid rgba(100,100,100, 0.3);
  width: 100%;
  text-decoration: none;
  /* float: right; */
  z-index: 2;
}


.sidebarContainer a, a:visited {
    color: white;
    text-decoration: none;
    display: block;
    /* z-index: 2; */
    /* ^now the whole block is linkable. */
}

/* NAVBAR CLOSED  */
.closed {
  position: relative;
  left: 30px;
  top: 20px;
  /* left: 20%;
  top: 20%; */

  /* color: black; */
  display: block;
  /* margin-right: 800px !important; */
  /* overflow-x: hidden;
  float: left !important; */
  z-index: 0;
}

/* .closed ul li a, a:hover{
  visibility: hidden;
} */

/* interactivity */
/* .sidebarContainer .active {
  background-color: white;
} */

/* .sidebarContainer ul li a, a.active {
  color: black;
  background-color: white;
} */


.open ~ ul li:hover {
  background-color: white;
}

.open ~ ul li:hover a {
  color: black;
}

/* .closed ul li, a:hover {
  color: black;
} */

/* HAMBURGER */
.open {
  position: relative;
  display: block;
  float: left;
  left: 200px;
  top: 20px;

  color: black;
  /* margin-right: 20%; */
  z-index: 2;
}


span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #151719;
  margin: 3px 0px;
  margin-right: 200px;
}

.hiddenText ul li a {
  display: none;
}

/* SEND TO PROPS AND FLOAT LEFT */



/* NOTEPAD PAGE */

.notepadContainer {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* z-index: -2; */
}

.notepad {
  width: 50vw;
  margin-left: 25%;
  margin-top: 1%;
  /* height: 75vh; */
  /* align-items: center; */
  background-color: #fffff4 !important;
  color: black !important;
  font-size: 2em;
  box-shadow: 10px 5px 5px #A4A5AE;
  word-wrap: break-word;
  /* overflow: auto; */
  /* position: absolute; */
  /* z-index: -2; */

  /* background-attachment: local;
  background-image:
  linear-gradient(to right, white 10px, transparent 10px),
  linear-gradient(to left, white 10px, transparent 10px),
  repeating-linear-gradient(white, white 30px, #ccc 30px, #ccc 31px, white 31px);
  line-height: 31px;
  padding: 8px 10px; */
}

/* .trigger {
resize:  both;
} */
