* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-image: url("./img/backgroundImage.jpg");
  background-size: cover;
}

/* HOME */

.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeDate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

.homeImg {
  width: 400px;
  height: 400px;
}

.googleBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.logoutBtn {
  margin-left: 1%;
  color: blue;
}


/* NOTE COMPONENT STYLING */

/* BUTTON TOP RIGHT */
.addNewNote {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1em;
  margin: 2%;
}

/*  */
.postedNote {
  position: fixed;
  top: 20;
  right: 20;
}


/* EACH NOTE YOU ADD ON SUBMIT */
.note {
  background-color: #F6F7EB;
  width: 30vw;
  margin-left: 35%;
  margin-bottom: 1%;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 10px 5px 5px #A4A5AE;
  padding: 20px;
  font-size: 2em;
}

.notesContainer {
  /* background-color: red; */
  /* position: absolute; */
}

.notesIcons {
    display: flex;
    justify-content: flex-end;
}

.displayNotes {
  display: inline;
}





/* SIDEBAR ITSELF */

.sidebar {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: #151719;
  text-align: center;
  font-size: 1.5em;
  z-index: 2;
}


.sidebar ul li {
  color: white;
  list-style-type: none;
  padding: 50px 0px;
  border: 1px solid rgba(100,100,100, 0.3);
  width: 100%;
  text-decoration: none;
  z-index: 2;
}


.sidebar a, a:visited {
    color: white;
    text-decoration: none;
    display: block;
}

/* NAVBAR CLOSED  */
.closed {
  position: relative;
  left: 30px;
  top: 20px;
  display: block;
  z-index: 0;
}

.open ~ ul li:hover {
  background-color: white;
}

.open ~ ul li:hover a {
  color: black;
}

/* HAMBURGER */
.open {
  position: relative;
  display: block;
  float: left;
  left: 230px;
  top: 20px;
  color: black;
  z-index: 2;
}


span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #151719;
  margin: 3px 0px;
  margin-right: 200px;
}

.hiddenText ul li a {
  display: none;
}



/* NOTEPAD PAGE */

.notepadContainer {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* z-index: -2; */
}

.notepad {
  width: 50vw;
  margin-left: 25%;
  margin-top: 1%;
  background-color: #fffff4 !important;
  color: black !important;
  font-size: 2em;
  box-shadow: 10px 5px 5px #A4A5AE;
  word-wrap: break-word;
}



button {
  padding: 15px;
  background-color: red;
  color: white;
  font-size: 2em;
}
